<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse transparent-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand brand sacramento" routerLink="/inicio">Eleganz</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/inicio" routerLinkActive="active">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/inicio" routerLinkActive="active">CONÓCENOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/inicio" routerLinkActive="active">NUESTROS SERVICIOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/inicio" routerLinkActive="active">PROMOCIONES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/inicio" routerLinkActive="active">CONTACTO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/inicio" routerLinkActive="active">INICIAR SESIÓN</a>
            </li>
        </ul>
    </div>
</nav>
