<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Eleganz</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="#">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONÓCENOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NUESTROS SERVICIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PROMOCIONES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">INICIAR SESIÓN</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
