<div class="row">
	<div class="page-header col-md-12">
		<h2 class="white">Conócenos</h2>
	</div>
	<div class="col-md-4">
		<img alt="Conócenos" src="assets/images/about-us/about-us.png">
	</div>
	<div class="col-md-6 white">
		<p>
			Somos una empresa que fue creada con la intención de dar alegría a los eventos y de crear un 
			ambiente mágico para que tu evento sea un éxito. Gracias a nuestros fundadores, Glenda Baker 
			y Omar Ramírez, que siempre han pensado en lo mejor para ti siendo unas personas innovadoras y en 
			vanguardia.
		</p>
		<p>
			Contamos con más de 20 años de experiencia en el mercado en los cuales hemos sintonizado 
			emociones en más de 1000 eventos. Nos dedicamos a darle sentido a tu evento creando un momento 
			único e inigualable en donde a lo innombrable se le da nombre a través de la música. 
			Conocemos el mercado muy a fondo ya que la experiencia nos respalda y nos ha enseñado a hacer 
			lo que hoy en día mejor hacemos <strong><em>CREAR EMOCIONES RÍTMICAS.</em></strong>
		</p>
	</div>
</div>
