<div class="row">
    <div class="page-header">
        <h2 class="white">Contacto</h2>
    </div>
    <div class="col-sm-12">
        <div class="card card-info faded-background">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h4>Oficinas</h4>
                        <div>
                            <span>Cumbres 2do Sector</span>
                        </div>
                        <div>
                            <span>eleganzgrupo@gmail.com</span>
                        </div>
                        <div>
                            <label>Celular:</label> <span>811-033-5100</span>
                        </div>
                    </div>
                    <div class="horizontal-line hidden-md-up"></div>
                    <div class="col-sm-12 col-md-4">
                        <h4>Contacto Directo</h4>
                        <div>
                            <span>Glenda Baker</span>
                        </div>
                        <div>
                            <label>Celular:</label> <span>811-033-5100</span>
                        </div>
                    </div>
                    <div class="horizontal-line hidden-md-up"></div>
                    <div class="col-sm-12 col-md-4">
                        <h4>Coordinadora</h4>
                        <div>
                            <span>Priscila Ram&#237;rez</span>
                        </div>
                        <div>
                            <span>priscilakrb@gmail.com</span>
                        </div>
                        <div>
                            <label>Celular:</label> <span>812-334-4665</span>
                        </div>
                    </div>
                </div>
                <div class="horizontal-line"></div>
                <form id="contactForm" name="contactForm" class="contact-form" role="form"
                        novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="name">Nombre</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-user"></i>
                                    </span>
                                    <input id="name" type="text"
                                        class="form-control" name="name"
                                        placeholder="Nombre"
                                        required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="email">Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-at"></i>
                                    </span>
                                    <input id="email" type="text"
                                        class="form-control"
                                        name="email" placeholder="Email"
                                        required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="phone">Teléfono</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-phone"></i>
                                    </span>
                                    <input id="phone" type="text"
                                        class="form-control"
                                        name="phone"
                                        placeholder="Teléfono"
                                        required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="subject">Asunto</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-tag"></i>
                                    </span>
                                    <input id="subject" type="text"
                                        class="form-control"
                                        name="subject"
                                        placeholder="Asunto"
                                        required="required" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <div class="form-group">
                                <label class="sr-only" for="message">Mensaje</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon-comment"></i>
                                    </span>
                                    <textarea id="message" rows="8"
                                        class="form-control"
                                        name="message"
                                        placeholder="Mensaje"
                                        required="required"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <button id="btn-send" type="button"
                                class="btn btn-primary">
                                Envíar Mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
